@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
}

:root {
  /*? text color */
  --clr-black: #000;
  --clr-white: #fff;
  /*? disabled text color  */
  --clr-opacity: rgb(139, 139, 139);
  /*? button and ad bg, checked, hover nav, color  */
  --clr-ad-btn: rgb(51, 153, 51);
  /*? hover button color*/
  --clr-hover-btn: rgb(40, 40, 40);
  /*? border color  */
  --clr-border: rgb(221, 221, 221);
  /*? sale price color  */
  --clr-sale-price: rgb(139, 139, 139);
  /*? end sale bg color  */
  --clr-end-sale-bg: rgb(241, 243, 244);
}

/*! hide and show class */
.hide {
  display: none !important;
}

.show-fl {
  display: flex !important;
}

.show-ib {
  display: inline-block !important;
}

/*! global button style  */
.btn {
  border-radius: 6px;
  background: var(--clr-ad-btn);
  color: var(--clr-white);
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/*! header  */
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px 28px 0px;
}

.brand__logo {
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 32px;
}

.header__bars_icon {
  display: none;
  align-items: center;
  justify-content: center;
}

.nav__link {
  color: var(--clr-hover-btn);
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;
  transition: all 0.5s ease;
  position: relative;
}

.nav__link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: var(--clr-ad-btn);
  opacity: 0;
  transform: scale(0);
  transition: all 0.3s linear;
}

.nav__link:hover {
  color: var(--clr-ad-btn);
}

.nav__link:hover::after {
  opacity: 1;
  transform: scale(1);
  bottom: -5px;
}

.cart__icon {
  cursor: pointer;
}

.cart {
  position: relative;
}

.cart__counter {
  color: var(--clr-white);
  font-size: 12px;
  font-weight: 600;
  line-height: 90%;
  text-align: center;
  padding: 8px;
  background-color: var(--clr-ad-btn);
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 0;
}

/*! main  */
/*? intro  */
.intro {
  background: url(../images/intro-bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__container {
  padding: 80px 40px 210px 40px;
}

.intro__title {
  color: var(--clr-white);
  font-size: 96px;
  font-weight: 700;
  line-height: 110%;
  text-align: left;
  margin-bottom: 40px;
}

.intro__btn {
  padding: 16px 56px;
}

.intro__btn:active {
  background-color: var(--clr-hover-btn);
}

/*? section categories  */
.categories__container {
  padding: 80px 0px;
}

.categories__nav,
.sale__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories__nav_title,
.sale__nav_title,
.endSale__title {
  color: var(--clr-hover-btn);
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
  text-align: left;
}

.categories__nav_btn,
.sale__nav_btn {
  color: var(--clr-opacity);
  font-size: 16px;
  font-weight: 500;
  line-height: 126%;
  text-align: center;
  text-decoration: none;
  border: 1px solid var(--clr-border);
  padding: 8px 16px;
  border-radius: 6px;
  position: relative;
}

.categories__nav_btn::after,
.sale__nav_btn::after {
  transform: translateY(-50%);
  position: absolute;
  height: 1px;
  content: "";
  right: 100%;
  width: 832px;
  top: 50%;
  background-color: var(--clr-border);
}

/* ? categories card */
.categories__cards,
#all__products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(316px, 1fr));
  gap: 32px;
  padding-top: 40px;
}

.categories__card_photo {
  width: 316px;
  height: 350px;
}

.categories__card_photo .photo {
  border-radius: 12px;
  margin-bottom: 16px;
  width: 316px;
  height: 350px;
}

.categories__card_title {
  color: var(--clr-hover-btn);
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
}

/*! categories loader  */
.categories__loader_photo {
  border-radius: 12px;
  margin-bottom: 16px;
  width: 316px;
  height: 350px;
  background-color: #dbdbdb77;
  display: flex;
  align-items: center;
  justify-content: center;
}

.atomic__loader {
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: atomic__loader 3s ease alternate infinite;
}

.atomic__loader .line {
  position: absolute;
  width: 200px;
  height: 100px;
  border: 2px solid var(--clr-ad-btn);
  border-radius: 50%;
}

.atomic__loader .frist {
  transform: rotate(45deg);
}

.atomic__loader .second {
  transform: rotate(90deg);
}

.atomic__loader .thrid {
  transform: rotate(135deg);
}

@keyframes atomic__loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.categories__loader_text {
  width: 100%;
  height: 30px;
  border-radius: 8px;
  background-color: #dbdbdb77;
}
/*! categories loader  */

/*? section ad  */
.ad__container {
  margin-bottom: 80px;
  border-radius: 12px;
  padding: 32px 32px 0px 32px;
  background: linear-gradient(
    220.54deg,
    rgb(11, 113, 11) 32.635%,
    rgb(51, 153, 51) 98.958%
  );
}

.ad__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 32px;
}

.ad__title {
  color: var(--clr-white);
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
  text-align: center;
  margin-bottom: 24px;
}

.ad__photo {
  transform: translateY(4px);
}

.ad__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.ad__form input {
  padding: 16px 32px;
  width: 100%;
  min-width: 516px;
  background-color: transparent;
  border: 1px solid var(--clr-white);
  border-radius: 6px;
  outline: none;
  color: var(--clr-white);
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}

.ad__form input::placeholder {
  color: var(--clr-white);
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  text-align: left;
}

.ad__form input[type="submit"] {
  color: var(--clr-hover-btn);
  font-size: 20px;
  font-weight: 600;
  background-color: var(--clr-white);
  line-height: 130%;
}

.ad__form input[type="submit"]:active {
  background-color: var(--clr-hover-btn);
  border: 1px solid var(--clr-hover-btn);
  color: var(--clr-white);
}

/*? section sale  */
.sale__container {
  padding-bottom: 306px;
}

.sale__nav_btn::after {
  width: 1093px;
}

.sale__cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(316px, 1fr));
  gap: 32px;
}

.sale__card {
  box-sizing: border-box;
  border: 1px solid var(--clr-border);
  border-radius: 12px;
  display: inline-block;
  box-sizing: border-box;
}

.sale__card_photo {
  position: relative;
  width: 316px;
  height: 284px;
}

.sale__card_photo .value {
  padding: 4px 8px;
  background-color: var(--clr-ad-btn);
  border-radius: 6px;
  color: var(--clr-white);
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 3%;
  text-align: left;
  position: absolute;
  top: 16px;
  right: 16px;
}

.sale__card_photo .photo {
  width: 316px;
  height: 284px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.sale__card_body {
  padding: 20px 32px 32px 32px;
}

.body__title {
  color: var(--clr-hover-btn);
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  text-align: left;
  margin-bottom: 16px;
}

.last__price {
  color: var(--clr-hover-btn);
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
  text-align: left;
}

.first__price {
  color: var(--clr-sale-price);
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  text-align: left;
  text-decoration: line-through;
  padding-left: 16px;
}

/*? seciton endSale  */
.endSale {
  margin-bottom: 32px;
}

.endSale__title {
  margin-bottom: 40px;
}

.endSale__counters {
  padding: 32px;
  background-color: var(--clr-end-sale-bg);
  border-radius: 12px;
}

.counters__title {
  color: var(--clr-sale-price);
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  text-align: left;
  margin-bottom: 16px;
}

.counters__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.times,
.time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.time {
  flex-direction: column;
  gap: 0;
}

.counters__body_title,
.time {
  color: var(--clr-hover-btn);
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
  text-align: left;
}

.times__text {
  color: var(--clr-hover-btn);
  font-size: 16px;
  font-weight: 400;
}

/*! footer  */
.footer__container {
  padding-bottom: 80px;
}

.footer__iframe {
  width: 100%;
}

/*! all_product page style  */
.sort__nav,
.fromTo__price,
.discount__items,
.sorted {
  display: flex;
  align-items: center;
  justify-content: start;
}

.sort__nav {
  column-gap: 40px;
  padding: 40px 0;
  flex-wrap: wrap;
  row-gap: 32px;
}

.fromTo__price {
  gap: 16px;
  flex-wrap: wrap;
  justify-content: start;
}

.fromTo__price_title,
.discount__item_title,
.sorted__title {
  color: var(--clr-hover-btn);
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  text-align: left;
}

.from__input,
.to__input,
.check__input {
  box-sizing: border-box;
  border: 1px solid var(--clr-border);
  border-radius: 6px;
  padding: 8px 16px;
  outline: none;
  color: var(--clr-opacity);
  font-size: 16px;
  font-weight: 500;
  line-height: 126%;
  text-align: left;
}

.check__input {
  width: 36px;
  height: 36px;
  outline: none;
  border: 1px solid var(--clr-border);
  margin-left: 16px;
}

.sorted__title {
  margin-right: 16px;
}

.sorted__drobdown {
  box-sizing: border-box;
  /* grey divider */
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  position: relative;
}

.drobdown__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 8px 16px;
  min-width: 215px;
  width: 100%;
}

.drobdown__nav_arrow_icon {
  cursor: pointer;
}

.drobdown__body {
  border-radius: 6px;
  background: var(--clr-white);
  padding: 16px;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 0px 10px 1.2px var(--clr-opacity);
}

.body__nav {
  gap: 4px;
}

.body__link {
  color: var(--clr-sale-price);
  font-size: 16px;
  font-weight: 500;
  line-height: 126%;
  text-align: left;
  text-decoration: none;
}

.drobdown__overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 10;
  background-color: transparent;
}

.body__link:hover {
  color: var(--clr-hover-btn);
}

.discount__checkbox {
  min-width: 36px;
  /* width: 100%; */
  height: 36px;
  outline: none;
  border: 1px solid var(--clr-border);
  margin-left: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.discount__checked {
  background-color: var(--clr-ad-btn);
  position: relative;
}

.discount__line {
  width: 10px;
  height: 2px;
  background-color: var(--clr-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
}

.check__icon {
  transform: rotate(-10deg);
  width: 100%;
  height: 100%;
  position: relative;
  left: -3px;
  top: -1px;
}

.discount__line:nth-child(1) {
  transform: rotate(56deg);
  left: 10px;
  top: 20px;
}

.discount__line:nth-child(2) {
  transform: rotate(314deg);
  width: 20px;
  left: 14px;
}

/* cart */
.cart__loader {
  width: 780px;
  height: 180px;
}

.cart__product .categories__nav_btn::after,
.sale__nav_btn::after {
  width: 600px;
}

.cart__items {
  display: flex;
  align-items: start;
  gap: 32px;
  margin-top: 40px;
}

.cart__item {
  display: flex;
  align-items: start;
  box-sizing: border-box;
  border: 1px solid var(--clr-border);
  border-radius: 12px;
}

.cart__item_body_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cart__photo {
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart__photo img {
  max-width: inherit;
  width: 100%;
  height: auto;
}

.cart__body {
  width: 100%;
  padding: 32px;
  border-left: 1px solid var(--clr-border);
}

.body__nav_title {
  color: var(--clr-hover-btn);
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  text-align: left;
}

.cart__body_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  margin-bottom: 32px;
}

.cart__body_bottom {
  display: flex;
  align-items: end;
  gap: 32px;
  flex-wrap: wrap;
}

.cart__counters {
  box-sizing: border-box;
  /* grey divider */
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.cart__remove,
.cart__add {
  padding: 17px;
  cursor: pointer;
  box-sizing: border-box;
  /* grey divider */
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
}

.cart__count {
  padding: 16px 38px;
}

.cart__item_price {
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.cart__item_last_price {
  color: var(--clr-hover-btn);
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
  text-align: left;
}

.cart__item_first_price {
  color: var(--clr-sale-price);
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: line-through;
}

.buy__form {
  background-color: var(--clr-end-sale-bg);
  padding: 32px;
  border-radius: 12px;
  max-width: 548px;
  width: 100%;
}

.buy__form .ad__form input,
.buy__form .ad__form input::placeholder {
  background-color: var(--clr-white);
  color: var(--clr-sale-price);
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;
}

.buy__form .ad__form input[type="submit"] {
  background-color: var(--clr-ad-btn);
  color: var(--clr-white);
}

.form__nav_title,
.form__nav_total .total {
  color: var(--clr-hover-btn);
  font-size: 40px;
  font-weight: 700;
  line-height: 110%;
}

.item__count {
  padding: 24px 0 18px 0;
}

.item__count,
.total__title {
  color: var(--clr-sale-price);
  font-size: 40px;
  font-weight: 500;
  line-height: 130%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form__nav_total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.form__nav_total .total {
  font-size: 64px;
}

/* mediaQuery */

@media screen and (max-width: 1400px) {
  .container {
    width: 90%;
  }

  .categories__nav_btn::after,
  .sale__nav_btn::after {
    width: 600px;
  }

  .ad__form input {
    min-width: 400px;
    width: 100%;
  }

  .ad__photo .photo {
    min-width: 400px;
    width: 100%;
  }

  .categories__card_photo {
    width: 100%;
  }

  .categories__card_photo .photo {
    width: 100%;
    object-fit: cover;
  }

  .sale__card_photo {
    width: 100%;
  }

  .sale__card_photo .photo {
    width: 100%;
    object-fit: cover;
  }

  .cart__product .categories__nav_btn::after,
  .sale__nav_btn::after {
    width: 450px;
  }
}

@media screen and (max-width: 1240px) {
  .categories__nav_btn::after,
  .sale__nav_btn::after {
    width: 500px;
  }

  .ad__form input {
    min-width: 300px;
    width: 100%;
  }
  .cart__product .categories__nav_btn::after,
  .sale__nav_btn::after {
    width: 350px;
  }

  .cart__product .categories__nav_title,
  .sale__nav_title,
  .endSale__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 1130px) {
  .categories__nav_btn::after,
  .sale__nav_btn::after {
    width: 400px;
  }

  .ad__form input {
    min-width: 400px;
    width: 100%;
  }

  .ad__content {
    flex-direction: column-reverse;
  }

  .cart__items {
    flex-wrap: wrap;
  }

  .cart__item {
    width: 100%;
  }

  .buy__form {
    max-width: 100% !important;
    width: 100%;
  }

  .form__nav_title,
  .form__nav_total .total {
    font-size: 30px !important;
  }

  .item__count,
  .total__title {
    font-size: 30px !important;
  }

  .cart__product .categories__nav_btn::after,
  .sale__nav_btn::after {
    width: 250px;
  }
}

@media screen and (max-width: 1020px) {
  .categories__nav_btn::after,
  .sale__nav_btn::after {
    width: 300px;
  }

  .endSale__title {
    font-size: 35px;
  }

  .counters__body_title,
  .time {
    font-size: 35px;
  }

  .cart__product .categories__nav_btn::after,
  .sale__nav_btn::after {
    width: 200px;
  }

  .cart__product .categories__nav_title,
  .sale__nav_title,
  .endSale__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 910px) {
  .categories__nav_btn::after,
  .sale__nav_btn::after {
    width: 200px;
  }

  .intro__title {
    font-size: 70px;
  }

  .categories__nav_title,
  .sale__nav_title,
  .endSale__title {
    font-size: 40px;
  }

  .cart__product .categories__nav_title,
  .sale__nav_title,
  .endSale__title {
    font-size: 45px;
  }
}

@media screen and (max-width: 790px) {
  .categories__nav_btn::after,
  .sale__nav_btn::after {
    background-color: transparent;
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 70px;
  }

  .categories__nav_btn::after,
  .sale__nav_btn::after {
    width: 100%;
  }

  .categories__nav_title,
  .sale__nav_title,
  .endSale__title,
  .cart__product .categories__nav_title {
    font-size: 30px;
  }

  .counters__body_title,
  .time {
    font-size: 32px;
  }
}

@media screen and (max-width: 740px) {
  .header__container .nav {
    gap: 20px;
  }

  .header__bars_icon {
    margin-left: 60%;
  }

  .ad__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 680px) {
  .header__container {
    position: relative;
  }
  .header__container .nav {
    flex-direction: column;
    position: absolute;
    top: 50%;
    /* left: 10%; */
    right: 20%;
    /* transform: translateX(-50%); */
    background-color: #ffffff92;
    box-shadow: 0px 0px 10px -3px #6b6b6b;
    padding: 32px;
    backdrop-filter: blur(8px);
    border-radius: 12px;
    display: none;
  }

  .counters__body {
    flex-direction: column;
    row-gap: 32px;
  }

  .header__bars_icon {
    display: inline-flex;
    cursor: pointer;
  }

  .intro__title {
    font-size: 50px;
  }
  .ad__form input {
    min-width: 350px;
    width: 100%;
  }

  .cart__item {
    flex-wrap: wrap-reverse;
  }

  .cart__body {
    border-bottom: 1px solid var(--clr-border);
    border-left: none;
  }

  .cart__photo img {
    object-fit: cover;
    object-position: center;
    min-width: 150px;
    width: 100%;
  }

  .cart__photo,
  .cart__photo img {
    min-width: 250px;
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 430px) {
  .categories__nav_title,
  .sale__nav_title,
  .endSale__title {
    font-size: 30px;
  }

  .ad__form input {
    min-width: 300px;
    width: 100%;
  }

  .ad__photo .photo {
    min-width: 300px;
    width: 100%;
  }

  .ad__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 375px) {
  .categories__nav,
  .sale__nav {
    flex-direction: column;
    gap: 18px;
  }

  .ad__title {
    font-size: 30px;
  }
}
